/*start global*/
.section-one {
    background-color: #191919;
    color:white
}

.section-one .hidden-img {
    width: 100%;
    height: 100vh;
    position:fixed;
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    top:0;
    left: 0;
    z-index: 3;
    background-color: rgb(0, 0, 0,0.8);
}  

.section-one .hidden-img img {
    padding: 7px;
    background-color: white;
}

.section-one .hidden-img .txt {
    padding: 10px 0;
}

.section-one .hidden-img .txt p{
    margin: 0;
    font: 15px;
}

.section-one .hidden-img .txt span{
    color:gray;
    font-size: 14px;
}

/*end global*/
/*start slider-one*/
.slider-one .row {
    padding: 50px 0;
}


.slider-one .row > div {
    color:white;
    min-height: 350px;
}

.slider-one .row .col-lg-4 h5{
    color: var(--redColor);
    letter-spacing: 3px;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.slider-one .row .col-lg-4 h2 {
    text-transform: uppercase;
    font-size: 35px;
    font-weight: bold;
    letter-spacing: 1px;
    margin-bottom: 30px;
}

.slider-one .row .col-lg-4 p {
    color: gray;
    margin-bottom: 30px;
}

.slider-one .row .col-lg-4 button {
    background-color: var(--redColor);
    color: white;
    border-radius: 30px;
    border:none;
    outline: none;
    padding: 15px 30px;
    text-transform: capitalize;
}

.slider-one .row .col-lg-4 button:hover {
    background-color: white;
    color: var(--redColor);
}

.slider-one .row .col-lg-8 {
    overflow: hidden;
    position: relative;
    padding: 0;
}


.slider-one .row .col-lg-8 .slick-track {
    display: flex;
}

.slider-one .row .col-lg-8 .bord {
    width: 300px;
    text-align: center;
    position: relative;
    margin:0 15px;
}



.slider-one .row .col-lg-8 .bord .img{
    position: relative;
    width: 100%;
    height: 80%;
    margin-bottom: 20px;
}

.slider-one .row .col-lg-8 .bord .img::before {
    content: "+";
    position: absolute;
    top:0;
    left:0;
    z-index: 2;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 0, 0,0.5);
    font-size: 80px;
    color:white;
    transform: scale(0);
    transition: .3s linear transform;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.slider-one .row .col-lg-8 .bord .img:hover::before{
    transform: scale(1);
}

.slider-one .row .col-lg-8 .bord .img img {
    width: 100%;
    height: 100%;
}



.slider-one .row .col-lg-8 .bord h5 {
    font-weight: bold;
    letter-spacing: 1px;
}

.slider-one .row .col-lg-8 .bord .parent-icon i {
    color: goldenrod;
    margin: 0 5px;
    font-size: 11px;
}

.section-one .container .row .red-line {
    background-color: rgb(43, 43, 43);
    margin-top: 50px;
    width: 100%;
    height: 1px;
    min-height: 0;
    position: relative;
}

.section-one .container .row .red-line div {
    background-color: var(--redColor);
    width: 10px;
    height: 3px;
    position: absolute;
    top:0;
}

.section-one .container .row .red-line .left {
    left:0px;
    animation: moveLeft 6s ease infinite alternate;
}


@keyframes moveLeft {
    to{
        left: 50%;
    }
}

.section-one .container .row .red-line .right {
    right: 0;
    animation: moveRight 6s ease infinite alternate;
}

@keyframes moveRight {
    to{
        right: 50%;
    }
}

@media (max-width: 991px) {
    .section-one {
        background-color: #1d1d1d;
    } 

    .slider-one .row .col-lg-4 {
        background-color: #191919;
        padding:40px;
        margin: 0 15px 50px;
    }
    
}

@media (max-width: 467px) {
    .slider-one .container {
        max-width: 320px;
    }
    .slider-one .row .col-lg-8 {
        max-height: 540px;
    }

    .section-one .container .row .red-line {
        display: none;
    }
}
/*start slider-one*/
/*start slider-two*/
.slider-two .container .row h1 {
    font-size: 100px;
    /* -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: var(--redColor);
    -webkit-text-fill-color: white; */
    text-shadow: 3px 3px var(--redColor);
    font-family:'Fjalla One', sans-serif;
    letter-spacing: 2px;
    position: relative;
    padding-bottom: 10px;
    text-shadow:4px 4px 2px var(--redColor);
    font-weight: bolder;
}

.slider-two .container .row h1::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width:40px;
    height: 5px;
    background-color: var(--redColor);
}

.slider-two .container .row .parent {
    width: 100%;
    height: 600px;
    margin:50px 15px 100px;
}

.slider-two .container .row .parent .bord {
    position: relative;
    padding: 0;
}

.slider-two .container .row .parent .one .clip {
    clip-path: polygon(0 0, 90% 0, 100% 10%, 100% 100%, 10% 100%, 0 90%);
    width: 100%;
    height: 100%;
    background-image: url(../imgs/about.jpg);
    background-size: cover;
    filter: grayscale(100%);
    transition: .3s ease-out filter;
}

.slider-two .container .row .parent .one::before {
    position: absolute;
    content: "";
    top:50%;
    left: -3px;
    transform: translateY(-50%);
    width: 3px;
    height: 250px;
    background-color: var(--redColor);
}

.slider-two .container .row .parent .one .txt {
    position: absolute;
    content: "";
    bottom:0px;
    right:0;
    color:white;
    background-color: var(--redColor);
    text-align: center;
    width: 150px;
    height: 150px;
    margin: 0;
    padding-top: 20px;
}

.slider-two .container .row .parent .one .txt h2 {
    font-size: 65px;
    margin: 0;
}

.slider-two .container .row .parent .one:hover .clip {
    filter: grayscale(0%);
}

.slider-two .container .row .parent .two {
    padding: 0 20px 0 80px;
}

.slider-two .container .row .parent .two h5 {
    color: var(--redColor);
    letter-spacing: 3px;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.slider-two .container .row .parent .two h2 {
    text-transform: uppercase;
    font-size: 35px;
    font-weight: bold;
    letter-spacing: 1px;
    margin-bottom: 30px;
}

.slider-two .container .row .parent .two p {
    color: gray;
    margin-bottom: 30px;
}

.slider-two .container .row .parent .two button {
    background-color: var(--redColor);
    color: white;
    border-radius: 30px;
    border: none;
    outline: none;
    padding: 15px 30px;
    text-transform: capitalize;
}

@media (max-width: 1200px) {
    .slider-two .container .row .parent {
        height: 500px;
    }
}

@media (max-width:991px) {
    .slider-two .container .row .parent {
        height:auto;
        flex-direction: column;
        margin-bottom:50px;
    }

    .slider-two .container .row .parent .bord {
        align-self: center;
    }

    .slider-two .container .row .parent .one {
        max-width:500px;
        height: 700px;
        margin-bottom: 50px;
    }

    .slider-two .container .row .parent .one .clip {
        max-width: 100%;
        max-height: 100%;
    }

    .slider-two .container .row .parent .two {
        padding:0;
        height: auto;
        width: 100%;
    }

    .slider-two .container .row .parent .two p br:nth-of-type(3) {
        display: none;
    }
}

@media (max-width: 617px) {
    .slider-two .container .row h1{
        margin: auto;
        text-align: center;
    }

    .slider-two .container .row .parent .one {
        max-width: 300px;
        max-height: 400px;
    }

    .slider-two .container .row .parent .two h2 {
        font-size: 25px;
    }
    .slider-two .container .row .parent .two p {
        font-size: 15px;
    }

}
/*end slider-two*/
/*start slider-three*/
.slider-three .container .row{
    justify-content: space-between;
    margin: 0;
}

.slider-three .container .row .count {
    background-color: #1f1f1f;
    max-width: 20%;
    height: 170px;
    padding: 45px 15px;
}

.slider-three .container .row .count h1 {
    font-size: 40px;
    font-weight: bolder;
    display: inline;
    margin-bottom: 5px;
    line-height: 1.5em;
}

.slider-three .container .row .count span.red {
    color:var(--redColor);
    font-weight: bolder;
}

.slider-three .container .row .count span.txt {
    font-size: 40px;
    font-weight: bolder;
    text-transform: uppercase;
}

.slider-three .container .row .count p {
    color: gray;
    font-size: 17px;
}

@media (max-width:992px) {
    .slider-three .container .row .count {
        max-width: 45%;
    }

    .slider-three .container .row .count:not(:nth-of-type(1n+3)) {
        margin-bottom: 40px;
    }
}

@media (max-width:576px) {
    .slider-three .container .row .count {
        max-width: 100%;
    }

    .slider-three .container .row .count:not(:last-child) {
        margin-bottom: 30px;
    }
}
/*end slider-three*/
