* {
    padding:0;
    margin: 0;
    box-sizing: border-box;
    text-transform: capitalize;
    font-family: 'Poppins', sans-serif;
}

:root {
    --redColor:#e50914;
    --darkColor:rgb(25, 25, 25) ;
}

body {
    height: 5000px;
    overflow-x: hidden;
}

/*start header*/
.nav-bar {
    position: fixed;
    z-index: 2;
    color: white;
    width: 100%;
    transition: 0.5s linear all;
}

.nav-bar.active {
    background-color: var(--darkColor);
}

.nav-bar .row .navbar {
    height: 80px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    transition: 0.5s linear all;
}

.nav-bar.active .row .navbar {
    height: 85px;
}

.nav-bar .row .navbar .logo h1 {
    font-weight: bolder;
    letter-spacing: 5px;
    text-transform: uppercase;
    font-size: 19px;
}

.nav-bar .row .navbar .logo h1 span{
    color: var(--redColor);
    margin-left: 2px;
}

.nav-bar .row .navbar .icons {
    display: flex;
    line-height: 50px;
}

@media (max-width: 800px) {
    .nav-bar .row .navbar .icon {
        display: none;
    }
}

.nav-bar .row .navbar .icons .fas,
.hidden.main-menu .icon .fas {
    cursor: pointer;
    position: relative;
}

.nav-bar .row .navbar .icons .fas:not(:last-child),
.hidden.main-menu .icon .fas:not(:last-child){
    margin-right: 35px;
} 

.nav-bar .row .navbar .icons .fa-shopping-bag::after,
.hidden.main-menu .icon .fa-shopping-bag::after {
    content:"2";
    position: absolute;
    color:white;
    background-color: var(--redColor);
    width: 18px;
    height: 18px;
    line-height:18px;
    text-align: center;
    right: -22px;
    top:-13px;
    border-radius: 50%;
    font-size: 12px;
    font-weight: bolder;
}

.nav-bar .row .navbar .icons .menu {
    margin-left: 55px;
}

.nav-bar .row .navbar .icons .menu i {
    width: 50px;
    height: 50px;
    background-color: var(--redColor);
    text-align: center;
    line-height: 50px;
    border-radius: 50%;
}

header {
    width: 100%;
    height: 85vh;
    overflow: hidden;
    position: relative;
}

header .video{
    min-width: 100%;
    min-height: 100%;
    position: absolute;
    top:0;
    z-index: -1;
}

header .video video {
    filter: blur(5px);
}

header .overlay  {
    width: 100%;
    height: 100%;
    background-color: rgb(14 14 14 / 90%);
    color: white;
}

header .overlay .container {
    position: relative;
    height: 70vh;
    top:17.5%;
}

header .overlay .container .row {
    height: 100%;
}

header .overlay .container .row > div {
    width: 50%;
    height: 100%;
}

header .overlay .container .row .txt {
    padding: 50px;
}

header .overlay .container .row .txt h1 {
    font-size: 70px;
    text-shadow:4px 4px 2px var(--redColor);
    line-height: 1.7em;
}

header .overlay .container .row .txt span {
    color:#545252;
}

header .overlay .container .row .txt button {
    padding: 15px 30px;
    font-size: 19px;
    color: white;
    background-color: var(--redColor);
    border-radius: 30px;
    outline: none;
    border: none;
    transform: translateX(-5px);
    display: block;
    margin-top: 30px;
}

@media (max-width: 1200px) {
}
/*start header*/
/*start hidden section*/
.hidden {
    position: absolute;
    position: fixed;
    z-index: 3;
    width: 100%;
    height: 100vh;
    display: none;
    color: white;
    justify-content: center;
    align-items: center;
}

.hidden.main-menu {
    background-color:var(--darkColor) ;
    display: none;
}

.hidden.main-menu .fa-times {
    position: absolute;
    right:25px;
    top:25px;
    background-color: var(--redColor);
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
    font-size: 20px;
}

.hidden.main-menu .row {
    margin-bottom: 0;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

.hidden.main-menu .row li {
    font-size: 45px;
    cursor: pointer;
    text-transform: uppercase;
    transition: 0.2s ease-in-out color;
    font-weight: bolder;
}

.hidden.main-menu .icon {
    display: none;
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
}

.hidden.main-menu .row li:hover {
    color:var(--redColor)
}

@media (max-width: 1200px) {
    .hidden.main-menu .row li {
        font-size: 30px;
    }
}

@media (max-width:800px) {
    .hidden.main-menu .row {
        flex-direction: column;
    }

    .hidden.main-menu .row li:not(:last-child) {
        margin-bottom: 20px;
    }

    .hidden.main-menu .icon {
        display: block;
    }
}

.hidden.main-products {
    background-color:rgba(0, 0, 0, 0.7);
    display: none;
}

.hidden.main-products .cart{
    max-width: 450px;
    margin: 0 20px;
    background-color: var(--darkColor);
    border-radius: 3px;
    position: relative;
    transform: translateY(-150px);
    transition: 0.3s ease-out transform;
}

.hidden.main-products.active .cart {
    transform: translateY(-0px);
}

.hidden.main-products .cart .fa-times{
    position: absolute;
    right:-10px;
    top:-10px;
    background-color: var(--redColor);
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
}

.hidden.main-products .cart > h2{
    padding: 25px;
    border-bottom: 1px solid #272727;
    text-transform: uppercase;
    font-size: 27px;
    font-weight: bolder;
}

.hidden.main-products .cart > h2 span {
    color:var(--redColor);
    margin-left: 5px;
}

.hidden.main-products .cart .bord {
    display: flex;
}

.hidden.main-products .cart .bord img {
    width: 35%;
}

.hidden.main-products .cart .bord .txt {
    padding: 35px 10px;
}

.hidden.main-products .cart .bord .txt h2 {
    font-size: 23px;
    font-weight: bolder;
}

.hidden.main-products .cart .bord .txt span {
    color: gray;
    font-size: 15px;
    font-weight: lighter;
    font-family: fantasy;
}

.hidden.main-products .cart .footer {
    padding: 17px;
    border-top:1px solid #272727;
    display: flex;
    flex-direction: row-reverse;
}

.hidden.main-products .cart .footer button {
    background-color: var(--redColor);
    color: white;
    border-radius: 25px;
    font-weight: bolder;
    padding: 12px 11px;
    border: none;
    outline: none;
    font-size: 16px;
    transition: 0.5s ease background-color;
}

.hidden.main-products .cart .footer button:hover {
    background-color: rgb(146, 27, 27);
}

.hidden.main-search {
    width: 100%;
    height:100vh;
    background-color: rgba(0, 0, 0, 0.8);
}


.hidden.main-search .fa-times {
    position: absolute;
    right:25px;
    top:25px;
    background-color: var(--redColor);
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
    font-size: 20px;
}

.hidden.main-search .search {
    display: flex;
    flex-direction: column;
    min-height: 200px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.hidden.main-search .search input[type="search"] {
    background-color: transparent;
    border: none;
    outline: none;
    text-align: center;
    color: white;
    width: 90%;
    padding: 25px;
    font-size: 50px;
    font-weight: lighter;
}

.hidden.main-search .search input[type="button"] {
    padding: 15px 40px;
    font-size: 19px;
    color: white;
    background-color: var(--redColor);
    border-radius: 30px;
    outline: none;
    border: none;
    transform: translateX(-5px);
}

@media (max-width:500px) {
    .hidden.main-search .search input[type="search"] {
        font-size: 30px;
    }
}

/*end hidden section*/